a---
const{url , frontmatter}=Astro.props
import "../styles/global.css"
import { Image } from 'astro:assets';
const images = import.meta.glob('/src/assets/blogImages/*', { eager: true });
const getImagePath = (imageName: string) => {
  const imagePath = `/src/assets/blogImages/${imageName}`;
  return (images[imagePath] as any)?.default || null;
};

const imageSrc = getImagePath(frontmatter.image.src);
---
<!-- TODO: Blog post show title image, title, tags, publish date,author  -->
<a href={url}>
<div>
    <div>
        {imageSrc && (
      <Image 
        src={imageSrc} 
        width={300} 
        height={200}
        class="rounded-4xl m-4 left-3/6" 
        alt={frontmatter.image.alt}
        format="webp"
        quality="mid"
      />
    )}
    </div>
  <li class="bg-amber-400">{frontmatter.title}</li>
</div>
</a>