---
import BaseLayout from './BaseLayout.astro';
import { slugify } from '../util/slugify';
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;
import "../styles/global.css"
import "../styles/markdown-theme.css"

// Dynamic import for blog images
const images = import.meta.glob('/src/assets/blogImages/*', { eager: true });
const getImagePath = (imageName: string) => {
  const imagePath = `/src/assets/blogImages/${imageName}`;
  return (images[imagePath] as any)?.default || null;
};

const imageSrc = getImagePath(frontmatter.image.src);
const author = frontmatter.author;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toLocaleDateString()}</p>
  <p><a href={`/members/${slugify(author)}`}>Written by: {author}</a></p>

  <div>
    {imageSrc && (
      <Image 
        src={imageSrc} 
        width={300} 
        height={200}
        class="rounded-4xl m-4 left-3/6" 
        alt={frontmatter.image.alt}
        format="webp"
        quality="mid"
      />
    )}
  </div>
  
  <div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${slugify(tag)}`}>{tag}</a></p>
    ))}
  </div>
  
  <div class="markdown-body">
    <slot />
  </div>
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>