---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import "../styles/global.css"
import "../styles/markdown-theme.css"
const baseImagePath = '../../src/assets/memberImages/';
const imageSrc = `${baseImagePath}${frontmatter.image.src}`;
---
<BaseLayout pageTitle={frontmatter.name}>
  <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.joinYear}</p>
<div>
  <img src={imageSrc} width="300" class="rounded-4xl m-4 left-3/6" alt={frontmatter.image.alt} />
</div>
  <div class="tags">
    {frontmatter.events.map((event: string) => (
      <p class="tag"><a href={`/events/${event}`}>{event}</a></p>
    ))}
  </div>
  <div class="markdown-body">
  <slot  />

  </div>
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }


</style>